@import 'bootstrap';
// @import 'bootstrap-responsive';
.navbar {
  background-color: white;
  box-shadow: none;
  border: 0;
}
.pull-right {
 margin-right: 90px;
}

body {
  padding-top: 80px;
}

.footer {
  margin-top: 50px;
  color: grayLight;
  a {
    color: grey;
  }
}
